<section *ngIf="windowWidth <= 1056 " class="main-section">
  <app-story
    id="story-top"
    class="story-top story-container dark-off"
    [userPostsInfo]="userPostsInfo"
  ></app-story>
  <app-post-list  [userPostsInfo]="userPostsInfo"></app-post-list>
</section>
<section *ngIf="windowWidth > 1056 " class="main-section-2">
  <app-post-list
    [userPostsInfo]="userPostsInfo"
    class="igpost-outer"
  ></app-post-list>

  <div class="post-story-gap"></div>
  <app-sidepanel
    [profileInfo]="userPostsInfo"
    [ngStyle]="sideStyle"
    (setClickProfileEvent)="setClickProfile()"
  >
  </app-sidepanel>
</section>
